# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Cache and build artifacts
.cache/
*.app/
*.aiff
.DS_Store

# IDE
.idea/
.vscode/

# Exclude tests
tests/

